<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="/assets/semantic.min.css">

    <script src="/assets/js/sea.js"></script>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>


    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/assets/js/bootstrap.min.js"></script>

    <script src="/assets/semantic.min.js"></script>

    <script src="/assets/js/vue.min.js"></script>

</head>
<body style="background-image: url('https://t.alipayobjects.com/tfscom/T1WddfXnNkXXXXXXXX.jpg')">

<!--
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">KAFKA-WEB</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/logs">logs</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/brokers">brokers</a></li>
            </ul>
        </div>
    </div>
</nav>

-->
<!--
<div class="ui menu">
    <a class="active item">
        <i class="home icon"></i> brokers
    </a>
    <a class="item">
        <i class="mail icon"></i> logs
    </a>
    <div class="right menu">
        <div class="item">
            <div class="ui transparent icon input">
                <input type="text" placeholder="Search...">
                <i class="search link icon"></i>
            </div>
        </div>
    </div>
</div>
-->


