#parse("/layout/head.vm")
#parse("/layout/sidebar.vm")

<style>
    .container .row{
        padding-top: 25px;
    }
    .word-break{
        word-break: break-all;
    }
    .font-12 {
        font-size: 12px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-3 ui-left-panel">
            <div class="ui inverted segment">
                <div class="ui inverted accordion">
                    #foreach($broker in $brokers.keySet())

                        <div class="title">
                            <i class="dropdown glyphicon glyphicon-leaf font-12"></i>
                            Broker:&nbsp;&nbsp;&nbsp; $broker
                        </div>
                        <div class="content" style="padding-left: 20px;">
                            <p>timestamp: $brokers.get($broker).timestamp</p>
                            <p>host: $brokers.get($broker).host</p>
                            <p>port: $brokers.get($broker).port</p>
                            <p>version: $brokers.get($broker).version</p>
                        </div>
                    #end
                </div>
            </div>
        </div>
        <div class="col-md-9 ui-right-panel">
            <table class="ui inverted table">
                <thead>
                <tr>
                    <th>id</th>
                    <th>host</th>
                    <th>port</th>
                    <th>timestamp</th>
                </tr>
                </thead>
                <tbody>
                    #foreach($broker in $brokers.keySet())
                    <tr class="$topic.brokerPartitions">
                        <td>$broker</td>
                        <td>
                            $brokers.get($broker).host
                        </td>
                        <td>$brokers.get($broker).port</td>
                        <td>$brokers.get($broker).timestamp</td>
                    </tr>
                    #end


                </tbody>
            </table>

            <table class="ui inverted table">
                <thead>
                <tr>
                    <th>topic</th>
                    <th style="width: 50%">partitions</th>
                    <th>partitions on broker</th>
                    <th>replication</th>
                </tr>
                </thead>
                <tbody>
                    #foreach($topic in $topics)
                    <tr class="$topic.brokerPartitions">
                        <td>$topic.name</td>
                        <td class="word-break">(
                            $mapUtils.joinKeyToString($topic.partitions,","))
                        </td>
                        <td class="word-break">$mapUtils.convertMapToString($topic.brokerPartitions,"-->","  , ")</td>
                        <td>$topic.replication</td>
                    </tr>
                    #end


                </tbody>
            </table>

        </div>
    </div>

</div>

#parse("/layout/foot.vm")
<script>

</script>