#parse("/layout/head.vm")
#parse("/layout/sidebar.vm")
<div class="container">
    <div class="jumbotron">
        <h3>Welcome to Kafka!!</h3>
##        <p>...</p>
        <img src="https://t.alipayobjects.com/tfscom/T1ZudfXgJXXXXXXXXX.jpg" width="600px">
    </div>

##    <h1>welcome to kafka web</h1>
</div>
#parse("/layout/foot.vm")