#parse("/layout/head.vm")
#parse("/layout/sidebar.vm")

<style>
    .container .row{
        padding-top: 25px;
    }
    .word-break{
        word-break: break-all;
    }

</style>
<div class="container">
    <div class="row">
        <div class="col-md-3 ui-left-panel">
            <div class="ui inverted segment">
                <div class="ui inverted accordion">
                    #foreach($topic in $topics)
                        <div class="title">
                            <i class="dropdown icon"></i>
                            Topic:  $topic.name
                        </div>
                        <div class="content" style="padding-left: 20px;">
                            <p>Topic summary</p>
                            <p>Partitions by Broker</p>
                            <p>Partitions Information</p>
                        </div>
                    #end
                </div>
            </div>
        </div>
        <div class="col-md-9 ui-right-panel">
            <table class="ui inverted table">
                <thead>
                <tr>
                    <th>topic</th>
                    <th style="width: 50%">partitions</th>
                    <th>partitions on broker</th>
                    <th>replication</th>
                </tr>
                </thead>
                <tbody>
                    #foreach($topic in $topics)
                    <tr class="$topic.brokerPartitions">
                        <td>$topic.name</td>
                        <td class="word-break">(
                            $mapUtils.joinKeyToString($topic.partitions,","))
                        </td>
                        <td class="word-break">$mapUtils.convertMapToString($topic.brokerPartitions,"-->","  , ")</td>
                        <td>$topic.replication</td>
                    </tr>
                    #end


                </tbody>
            </table>

        </div>
    </div>

</div>

#parse("/layout/foot.vm")
<script>
    (function(){

    })();
    $('.tabular.menu .item').tab();
    $('.ui.accordion').accordion();
</script>