#parse("/layout/head.vm")
#parse("/layout/sidebar.vm")

<style>
    .row-padding {
        padding-top: 25px;
    }

    .word-break {
        word-break: break-all;
    }

    .font-12 {
        font-size: 12px;
    }

</style>
<script type="text/template">
    <div v-repeat="{{topics}}"></div>
</script>
<div class="container">
    <div class="row row-padding">
        <div class="col-md-3 ui-left-panel">
            <div class="ui inverted segment">
                <div class="ui inverted accordion">
                    #foreach($topic in $topics)
                        <div class="title" v-on="click: getDetail('$topic.name')">
                            <i class="dropdown glyphicon glyphicon-leaf font-12"></i>
                            Topic:&nbsp;&nbsp;&nbsp;  $topic.name
                        </div>
                    ##                        <div class="content" style="padding-left: 20px;">
                    ##                            <p>Topic summary</p>
                    ##                            <p>Partitions by Broker</p>
                    ##                            <p>Partitions Information</p>
                    ##                        </div>
                    #end
                </div>
            </div>
        </div>
        <div class="col-md-9 ui-right-panel">
            <div class="row">
                <div class="col-md-4">
                    <table class="ui inverted table">
                        <thead>
                        <tr>
                            <th colspan="3">Topic Summary</th>
                        </tr>

                        </thead>
                        <tbody>
                        <tr>
                            <td>Replication</td>
                            <td v-text="replication"></td>
                        </tr>
                        <tr>
                            <td>Number of Partitions</td>
                            <td v-text="partitionsSize"></td>
                        </tr>
                        <tr>
                            <td>Total number of Brokers</td>
                            <td v-text="brokersNum"></td>
                        </tr>
                        <tr>
                            <td>Number of Brokers for Topic</td>
                            <td v-text="topicOnBroker"></td>
                        </tr>
                        <tr>
                            <td>Preferred Replicas %</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Brokers Skewed %</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Brokers Spread %</td>
                            <td>-</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-8">
                    <table class="ui inverted table">
                        <thead>
                        <tr>
                            <th colspan="3">Partitions on broker</th>
                        </tr>
                        <tr >
                            <th style="width: 10%">Broker</th>
                            <th style="width: 30%">Number of Partitions</th>
                            <th style="width: 60%">Partitions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-repeat="brokers">
                            <td>{{id}}</td>
                            <td>{{partitionsNum}}</td>
                            <td class="word-break">{{partitions}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" style="padding-top: 25px;">
                <div class="col-xs-12">
                    <table class="ui inverted table">
                        <thead>
                        <tr>
                            <th colspan="3">Partition Information</th>
                        </tr>
                        <tr>
                            <th>Partition</th>
                            <th>Leader</th>
                            <th>Replicas</th>
                            <th>In Sync Replicas</th>
                            <th>Preferred Leader?</th>
                            <th>Under Replicated?</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>0</td>
                            <td>2</td>
                            <td>(1,2)</td>
                            <td>(1,2)</td>
                            <td>true</td>
                            <td>false</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>

</div>


<script>
    (function (JQ) {
        new Vue({
            el: '.container',
            data: {
                name: '',
                replication: '',
                partitionsSize: '',
                brokersNum: '',
                topicOnBroker: '',
                brokers: []
            },
            methods: {
                getDetail: function(name){
                    var self = this;
                    JQ.get("/topics/get/"+name,'json').then(function(data){
                        var brokers = data.result.brokers;
                        var topics = data.result.topics;
                        self.replication = topics.replication;
                        self.partitionsSize = Object.keys(topics.partitions).length;
                        self.brokersNum = Object.keys(brokers).length;
                        self.topicOnBroker = Object.keys(topics.brokerPartitions).length;
                        var brokersRet = [];
                        Object.keys(topics.brokerPartitionsDetail).forEach(function(item){
                            var params = {
                                id: item,
                                partitionsNum: topics.brokerPartitionsDetail[item].length,
                                partitions: "("+topics.brokerPartitionsDetail[item]+")"
                            }
                            topics.brokerPartitionsDetail[item].length > 0 && brokersRet.push(params);
                        });
                        self.brokers = brokersRet;
                    });
                }
            }
        });

    })($);

</script>

#parse("/layout/foot.vm")